.container {
    margin: 50px;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    color: hsl(0, 3%, 7%);
    width: 400px;
    height: 700px;
    background: radial-gradient(circle at 10% 20%, rgb(5, 232, 186) 0%, rgb(8, 126, 225) 90%);
  }
  
  .header {
    text-align: center;
    background-color: rgb(92, 92, 243);
    display: block;
    height: 48px;
    font-weight: bold;
    font-size: 35px;;
    
  }

  
  li {
    list-style: none;
    margin-top: 5%;
    font-size: 20px;
  }
  
  .card {
    color: rgb(247, 243, 243);
    background: radial-gradient(circle at 10% 20%, rgb(5, 232, 186) 0%, rgb(8, 126, 225) 90%);
  }
  
  p {
    font-size: 10px;
  }
  h1 {
    color: rgb(15, 15, 15);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 32px;
    position: relative;
    margin: 0;
    padding: 15px;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  
  .current-location-button {
    position: relative;
  }

  
  
  .units {
    color: rgb(27, 24, 24);
    font-size: 20px;
    height:100%
    
  }
  .summaryTemperatureData{
    line-height: 62px;
    display: flex;
    margin-left:8px;

  }
  